body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

#app {
  width: 350px;
  margin-top: 40px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #4f46e5;
  color: white;
  cursor: pointer;
}
